// Functions
// ---------
// General functions for projects
// ==========

// Author: Ana Tudor
// Reference: http://thesassway.com/advanced/inverse-trigonometric-functions-with-sass
// absolute value function
@function _abs($number) {
  @if $number >= 0 {
    @return $number;
  }

  @return -1 * $number;
}

// square root function using the Babylonian method
// http://en.wikipedia.org/wiki/Methods_of_computing_square_roots#Babylonian_method
@function _sqrt($square, $tolerance: 0.001, $estimate: $square / 2) {
  @if _abs($square - $estimate * $estimate) < $tolerance {
    @return $estimate;
  }

  @return _sqrt($square, $tolerance, ($estimate + $square / $estimate) / 2);
}

// Color
// -----
// An easy way to get colors from the $colors map
// =====

@function color($color, $map: $colors) {
  @return map-get($map, $color);
}

// Map-fetch
// ---------
// An easy way to fetch a deep value in a multi-level map.
// Works much like map-get() except that you pass multiple
// keys as the second parameter to go down multiple levels
// in the nested map.
//
// https://gist.github.com/jlong/8760275
// =========

@function map-fetch($map, $keys) {
  $key: nth($keys, 1);
  $length: length($keys);
  $value: map-get($map, $key);

  @if $length > 1 {
    $rest: ();

    @for $i from 2 through $length {
      $rest: append($rest, nth($keys, $i));
    }

    @return map-fetch($value, $rest);
  }

  @else {
    @return $value;
  }
}

// Strips unit
@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}