.o-bg-hint {
  #{--diamond-size}: 4em;
  position: relative;
  background-color: color(hint);
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: calc(-0.5 * var(#{--diamond-size}));
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: var(#{--diamond-size});
    width: var(#{--diamond-size});
    background-color: color(aureolin);
    transform: rotate(45deg);

    @include bp(large) {
      #{--diamond-size}: 20vw;
      left: calc(-0.15 * var(#{--diamond-size}));
      right: auto;
    }
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: calc(-0.5 * var(#{--diamond-size}));
    height: var(#{--diamond-size});
    width: var(#{--diamond-size});
    margin-left: auto;
    margin-right: auto;
    background-color: color(aureolin);
    transform: rotate(45deg);

    @include bp(large) {
      #{--diamond-size}: 12.5vw;
      right: calc(0.5 * var(#{--diamond-size}));
      left: auto;
    }
  }

  > * {
    position: relative;
  }
}

.o-bg-lilac {
  background-color: color(lilac);
}

.o-bg-aureolin {
  background-color: color(aureolin);

  // border-top: 1px solid #eee;
  // border-bottom: 1px solid #eee;
}