.c-about {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
}

.c-about__image {
  @include bp(med) {
    max-width: vr(10);
    margin-top: vr(0.45);
    float: left;
  }
}

.c-about__description {
  margin-top: vr(0.5);
  @include bp(med) {
    margin-top: 0;
    padding-left: vr(11.5);
  }
}

.c-about__title {
  text-align: left;
}