.l-wrap {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: vr(1);
  padding-right: vr(1);
}

.l-wrap__text {
  max-width: 30rem;
  margin-left: auto;
  margin-right: auto;
}

.l-wrap__small {
  max-width: 25rem;
  margin-left: auto;
  margin-right: auto;
}

section {
  padding-top: vr(3);
  padding-bottom: vr(3);
}

.l-wrap + .l-wrap {
  margin-top: vr(3);
}