<!DOCTYPE html>
<html lang="en">
  <head>
    {%- include "_head/head.njk" %}
  </head>

  <body class="{{bodyClass}}">
    <header class="site-header">
      <div class="logo">
        {% include "logo.svg" %}
      </div>
    </header>

    <main>
      {{- content | safe -}}
    </main>

    {% if env.isDev %}
      <script module src="/js/main.mjs"></script>
      <script nomodule src="/js/main-legacy.js"></script>
    {%- endif %}
    {% if env.isProd %}
      <script module src="/{{rev.main}}"></script>
      <script nomodule src="/{{rev.mainLegacy}}"></script>

      <script>
        (function (i, s, o, g, r, a, m) {
          i['GoogleAnalyticsObject'] = r;
          i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
          },
          i[r].l = 1 * new Date();
          a = s.createElement(o),
          m = s.getElementsByTagName(o)[0];
          a.async = 1;
          a.src = g;
          m
            .parentNode
            .insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-34947087-7', 'auto');
        ga('send', 'pageview');
      </script>
    {%- endif %}
  </body>
</html>
