<!DOCTYPE html>
<html lang="en">
  <head>
    {%- include "_head/head.njk" %}
  </head>

  <body class="{{bodyClass}}">
    <header class="site-header">
      <div class="logo">
        {% include "logo.svg" %}
      </div>
    </header>

    <main>
      {{- content | safe -}}
    </main>

    {% if env.isDev %}
      <script module src="/js/main.mjs"></script>
      <script nomodule src="/js/main-legacy.js"></script>
    {%- endif %}
    {% if env.isProd %}
      <script module src="/{{rev.main}}"></script>
      <script nomodule src="/{{rev.mainLegacy}}"></script>
    {%- endif %}
  </body>
</html>
