---
layout: _layout/html
permalink: /blog/{{ slug }}/index.html
nav: true
footer: true
---
<article class="longform">
  {%- markdown %}
  # {{title}}
  {%- endmarkdown %}

  {{- content | safe -}}
</article>
