---
layout: _layout/page
---

<section>
  <div class="l-wrap o-text">
    {% markdown %}
    # Thanks for confirming!
    {% endmarkdown %}

    <div class="l-wrap__text">
      {% markdown %}
      You should have received an email from me. Please check and see if you have it.

      If you didn't receive it, check the spam box too. I've been told some of these emails go to spam for some reasons unknown reason.

      If you still didn't get the roadmap, [contact me](https://zellwk.com/contact) and I'll help get it sorted out.

      I'm thrilled to help you start learning JavaScript!

      {% endmarkdown %}
    </div>
  </div>
</section>
