---
layout: _layout/html
permalink: /index.html
newsletter: home-start
bodyClass: home-page
footer: true
---

<section>
  <div class="l-wrap o-text">
    {% markdown %}
    # JavaScript beginners: Learn JavaScript without feeling afraid, overwhelmed, or confused
    {% endmarkdown %}

    <div class="l-wrap__text">
      {% markdown %}
      You know JavaScript is important.

      With enough JavaScript skills, you can build components from scratch without spending hours googling and modifying existing components.

      You can feel confident in JavaScript interviews, giving you a better chance to get the frontend development job you've been dreaming for.

      **But as you read JavaScript tutorials, you feel you can't understand the material no matter how hard you try. You feel your confidence level waver.**

      You may even feel scared, stupid and utterly confused. Maybe you end up asking yourself: "Can I really learn JavaScript?".

      Let me tell you, you *can* learn JavaScript.

      In this **free email course** on JavaScript, you'll follow a roadmap to help you understand JavaScript in the shortest time possible, including:

      - **A simple 4-step process you can follow to learn JavaScript**. This process will save you *years* of wasted effort from going in the wrong direction.
      - **How to avoid 3 learning traps in JavaScript** that leave you feeling confused, paralyzed, or overwhelmed.
      - **Lessons on how to choose what to learn** (like vanilla JS, React, Node, etc.), **why learn them**, **when to learn them** and **how to learn them**, so you no longer feel helpless when you don't understand documentations.
      - **Instructions on what to learn** – **and simple questions to test your understanding** – so you know your JavaScript fundamentals are strong enough to tackle any JavaScript challange you may face.

      I invite you to grab your JavaScript Roadmap if you're interested to learn JavaScript without feeling afraid, confused, or overwhelmed. Leave your name and email address below, and you'll get everything sent to your inbox over the next three weeks.
      {% endmarkdown %}
    </div>

    <div class="o-box o-text c-cta">
      {% import 'macros/ck-form.nunjucks' as form %}
      {{form.ckForm(title = 'Grab the FREE roadmap to learn JavaScript without fear, confusion and overwhelm' )}}
    </div>

    <div class="l-wrap__text">
      <div class="c-testimonial">
        <blockquote>
          {% markdown %}
          <img src="images/testimonials/beata.jpg" alt="Picture of Beata">

          JavaScript Roadmap helped me **navigate through the complicated Javascript learning process in a comprehensive and easy to understood** manner. Zell gives the answers to many questions I had and raised significant questions that I need to consider when I'm learning.

          Through JavaScript Roadmap, I realized I tend to skip basic stuff and move on too early – which leaves gaps in my knowledge! Luckily, JavaScript Roadmap also contains a well-organized list of the JS questions that I can use to check my understanding.
          {% endmarkdown %}
          <cite>Beata Sz, web developer</cite>
        </blockquote>
      </div>
    </div>
  </div>
</div>

</section>

<section class="o-bg-hint">
<div class="l-wrap">
  <div class="l-wrap__text o-text o-lesson-list">
    {% markdown %}
      ## Here's what you'll learn

      JavaScript Roadmap is an email course that will teach you lessons below. Each lesson is brief and clear, showing you a path to learn JavaScript without you feeling afraid, overwhelmed or confused.

      1. How to fight fear, overwhelm and confusion JavaScript fatigue
      2. How to learn JavaScript with rocket speed
      3. How to learn JavaScript from scratch without any coding experience
      4. How to master the DOM and start building real things
      5. How to improve your JavaScript fundamentals
      6. How to choose JavaScript libraries and frameworks to learn
      7. How to choose what to learn next on your JavaScript Roadmap.
      {% endmarkdown %}
  </div>
</div>
</section>

<section class="">
<div class="l-wrap">
  <div class="l-wrap__text o-text">
    {% markdown %}
      ## Kind words from others

      People who've went through JavaScript Roadmap feel motivated to learn. Here's what some of them said about the experience:
      {% endmarkdown %}

    <div class="c-testimonial">
      <blockquote>
        {% markdown %}
        <img src="images/testimonials/maxim.jpg" alt="Picture of Maxim">

        **JavaScript Roadmap helped me understand where I am at with JavaScript and where to go next.** The links given in the materials give me plenty of information on what to do next to master the necessary skills. It also gave me the motivation to learn, because it's much easier to move forward when you know where to move. Finally, it helped me rewrite most of my jQuery-dependent code to vanilla JavaScript.

        I highly recommend JavaScript Roadmap to others because of three reasons—it gives you a good structure to learn, it gives you links to materials so you can learn properly and it's information comes in easy-to-process parts rather than big scary wall of text.
          {% endmarkdown %}

        <cite>Maxim Khan-Magomedov, fullstack developer</cite>
      </blockquote>
    </div>

    <div class="c-testimonial">
      <blockquote>
        {% markdown %}
        <img src="images/testimonials/denise.jpg" alt="Picture of Denise">

        **I struggle with anxiety and depression, so working through the material in a timely matter was a struggle for me. But JavaScript Roadmap presented information in such a way where I had multiple lightbulb moments**.

        Through JavaScript Roadmap, I discovered how to overcome the learning traps I kept falling into. **I loved learning how to create a roadmap for learning JS that was unique to my specific needs**, and I have been able to move on to the next phase of learning (after getting stuck at the child phase for months).

        I definitely recommend this to anyone interested in learning JavaScript, as well as applying these methods to any coding language.
        {% endmarkdown %}
        <cite>Denise Esse, frontend developer</cite>
      </blockquote>
    </div>

    <div class="c-testimonial">
      <blockquote>
        {% markdown %}
        <img src="images/testimonials/rasik.jpg" alt="Picture of Rasik">

        **I'm already an experienced developer with a server side language in C#, but I still got lost with JavaScript. With the help of JavaScript Roadmap, I was able to understand JavaScript in just 2 months.**

        I strongly recommend Zell's Javascript Roadmap whether you're fresh to JavaScript or you're 12-year experinced like me. You will literally feel that a teacher is walking along with you at every step. Learning is about getting the right resources and following them in the correct order – JavaScript Roadmap has this.
        {% endmarkdown %}
        <cite>Rasik Bihari, aspiring full stack developer</cite>
      </blockquote>
    </div>

    <div class="c-testimonial">
      <blockquote>
        {% markdown %}
        <img src="images/testimonials/husain.jpg" alt="Picture of Husain">
        **JavaScript Roadmap has helped me figure out how to learn JavaScript. It also helped me figure out where I want to get to and how to get there.**

        What I like most about JavaScript Roadmap is that it shows me what's preventing from becoming a JavaScript expert. Now, I'm able to believe I can overcome the challenges in front of me and become great at JavaScript.

        I recommend you go through JavaScript Roadmap. It'll help you overcome your issues that's preventing you from learning JavaScript.

        {% endmarkdown %}
        <cite>Husain Ahmmed, web developer</cite>
      </blockquote>
    </div>
  </div>
</div>

<div class="l-wrap">
  <div class="c-about">
    <img class="c-about__image"src="images/zell.jpg" alt="Picture of Zell">
    <div class="c-about__description">
      {% markdown %}
        ## About your teacher

        Hey, I'm Zell. I've helped over 30,000 developers like yourself learn about frontend development every month.

        Like you, I was deathly afraid of JavaScript when I first started. I couldn't understand it. Nothing I read would register in my head. I used to think that's because I don't have a programming background.

        But that's not true. After becoming fluent with JavaScript, I realized that anyone can become good at it. I want to help you understand how to to become fluent in JavaScript without feeling afraid, overwhelmed or confused.
        {% endmarkdown %}
    </div>

    <div class="c-about__sp">
      <div>Zell has been featured in:</div>
      <div class="u-hide--lt-med">
        {% include "featured-mobile.svg" %}
      </div>
      <div class="u-hide--gt-med">
        {% include "featured.svg" %}
      </div>
    </div>
  </div>
</div>
</section>

{# I need some featured thingy here. But let me push it out before making it... Boy, I'm regretting now doing this before now #}

<section class="">
<div class="l-wrap o-text">
  <h2 class="t1 u-text-center">Want to learn JavaScript without feeling afraid, overwhelmed, or confused?</h2>
  <div class="l-wrap__text">
    <div class="o-box c-cta">
      {% import 'macros/ck-form.nunjucks' as form %}
      {{form.ckForm(title = 'Begin learning JavaScript with a free Roadmap' )}}
    </div>
  </div>
</div>
</section>

<footer class="site-footer"></footer>
