// sass-lint:disable no-important
[hidden] {
  display: none !important;
}

.u-text-center {
  text-align: center !important;
}

.u-hide--lt-med {
  @include bp(med) {
    display: none;
  }
}

.u-hide--gt-med {
  display: none;
  @include bp(med) {
    display: block;
  }
}